<!--使用 UppercasePipe 进行格式化-->
<!--绑定表达式中的 uppercase 位于管道操作符（ | ）的右边，用来调用内置管道 UppercasePipe。-->
<!--管道 是格式化字符串、金额、日期和其它显示数据的好办法。 Angular 发布了一些内置管道，而且你还可以创建自己的管道。-->
<!--<h2>{{hero.name | uppercase}} Details</h2>-->
<!--<div><span>id: </span>{{hero.id}}</div>-->

<!--[(ngModel)] 是 Angular 的双向数据绑定语法。-->
<!--这里把 hero.name 属性绑定到了 HTML 的 textbox 元素上，以便数据流可以双向流动：从 hero.name 属性流动到 textbox，并且从 textbox 流回到 hero.name 。-->

<!--<label>name:-->
    <!--缺少 FormsModule 虽然 ngModel 是一个有效的 Angular 指令，不过它在默认情况下是不可用的。
        它属于一个可选模块 FormsModule，你必须自行添加此模块才能使用该指令。-->
<!--<input [(ngModel)]="hero.name" placeholder="name">-->
<!--</label>-->
<h2>My Heroes</h2>
<ul class="heroes">
  <!--<li *ngFor="let hero of heroes"-->
  <!--[class.selected]="hero === selectedHero"-->
  <!--(click)="onSelect(hero)">-->
  <!--<span class="badge">{{hero.id}}</span> {{hero.name}}-->
  <!--</li>-->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
            (click)="delete(hero)">x
    </button>
  </li>
</ul>
<div>
  <label>Hero name:
    <input #addHeroName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(addHeroName.value); addHeroName.value=''">
    add
  </button>
</div>


<!--把原来的 HeroesComponent 重构成两个组件带来了一些优点，无论是现在还是未来：-->
<!--你通过缩减 HeroesComponent 的职责简化了该组件。-->
<!--你可以把 HeroDetailComponent 改进成一个功能丰富的英雄编辑器，而不用改动父组件 HeroesComponent。-->
<!--你可以改进 HeroesComponent，而不用改动英雄详情视图。-->
<!--将来你可以在其它组件的模板中重复使用 HeroDetailComponent。-->
<!--[hero]="selectedHero" 是 Angular 的属性绑定语法。-->
<!--这是一种单向数据绑定。-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
